{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["styled-components", {
      "displayName": true
    }],
    "transform-runtime"    
  ]
}
