{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": {
          }
        },
        "useBuiltIns": true
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["styled-components", {
      "displayName": true
    }],
    "transform-runtime"
  ],
  "ignore": [
    "@espress-org/drive-components",
    "drive-components",
    "@espress-org/drive-components/**",
    "drive-components/**"
  ]
}
